script.
      var userId = Object.freeze( "#{user ? user._id : null}" );
      let isAdmin = '#{user ? user.isAdmin : false }';
      let admin = Object.freeze( isAdmin == true || isAdmin == 'true' ? true : false )
.nav-screen
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .container-fluid
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item.active
              a.nav-link(href=default_directory) Home           
          ul.navbar-nav.my-2.my-lg-0
            if user && user.isAdmin
              li.nav-item.dropdown.annonces-nav-menu
                a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Annonces
                ul.dropdown-menu
                  li
                    a.dropdown-item(href=default_directory+'/announces/create') Créer une annonce
                  li
                    hr.dropdown-divider
            if !user
              li.nav-item
                a.nav-link(href=default_directory+'/users/login') Connexion
              li.nav-item
                a.nav-link(href=default_directory+'/users/createuser') Créer un compte
            else
              li.nav-item
                a.nav-link(href=default_directory+'/users/logout') Deconnexion

